<form method="POST" enctype="application/x-www-form-urlencoded">
    <div class="field">
        <label class="label">Desired url suffix:</label>
        <div class="control">
            <input class="input" type="text" name="tag" placeholder="This string will go after /record/">
        </div>
        <div class="control">
            <input class="button" type="submit" value="Reserve tag">
        </div>
    </div>
</form>
