{{~>prelude}}
<title>Tag manager</title>
</head>

<body>
    {{#if (gt tag_count 0)}}
    {{#each tags as |this_tag|}}
    <p>{{tag this_tag}}</p>
    {{/each}}
    {{else}}
    <p>No tags have been defined yet, use the form to create one</p>
    {{>new_tag}}
    {{/if}}
    {{#if (lt tag_count 10)}}
    {{>new_tag}}
    {{/if}}
</body>

</html>
